.check {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 100%;
  border: 2px solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background-color;
}

.check:hover {
  background-color: var(--blue-dark);
  opacity: 0.8;
}
.container {
  justify-self: flex-start;
}
