section {
  width: 100%;
}

.task {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--gray-500);
  color: var(--gray-100);
  border-radius: 0.75rem;
  height: 4.5rem;
  align-items: flex-start;
  justify-content: space-around;
  width: 90%;
}
.task p {
  flex: 1;
  overflow: auto;
  align-self: flex-end;
  line-height: 1rem;
  height: 100%;
  transition: 0.3s opacity;
}

.task input {
  align-self: flex-start;
}
.task :last-child {
  margin-left: auto;
  transition: 0.1s color;
  cursor: pointer;
}

.task > :last-child:hover {
  color: var(--danger);
}
